* {
	text-align: center;
}

header {
  background-color: #ffdb58;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav {
    background-color: #ffdb58;
    padding: 10px;
    border-radius: 10px;
	
  }
  


nav li {
	display: inline-block;
	padding: 20px;
}	

body {
	background-color: turquoise
}

img {
	text-align: center;
}	

.meep {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
div {
	text-align: center
}

.top {
	background-color: green;
	border-radius: 25px;
	padding: 20px;
	width: 600px;
	height: 150px;
	margin: auto;
}
